<div class="column is-four-fifths is-offset-1 landing">
  <div class="box has-text-centered">
    <%= image_tag('logo.png', alt: "codnas q logo", class: 'logo') %>
    <h1 class="title has-margin-t-7">Conformational Diversity of Native State - Quaternary</h1>
    <p>
      CoDNaS-Q is a high-quality collection of homo-oligomeric conformers obtained from the <%= link_to('Protein Data Bank (PDB)', 'https://www.rcsb.org', target: "_blank") %>.
    </p>
    <p>
      It allows the exploration of conformational diversity and its determinants at the quaternary level,
      for a large number of proteins determined under different experimental conditions and from a wide variety of families and species.
    </p>
    <div>
      <%= form_tag(cluster_search_path, method: :get) do %>
        <div class="field has-addons is-grouped-centered column is-offset-3 is-three-fifths">
          <%= text_field_tag('query', '', class: 'input has-margin-r-7', placeholder: 'Search by...') %>
          <div class='select has-margin-r-7'>
            <%= select_tag('criteria', options_for_select(['All fields', 'PDB', 'Name', 'Organism'], 'All fields')) %>
          </div>
          <%= submit_tag('Search', class: 'button is-info') %>
        </div>
        <div class="has-margin-t-6">
          <span><small>Example entries: </small></span>
          <small><%= link_to('2vcq', cluster_show_path('2vcq')) %></small>
          <span><small> | </small></span><small><a href="/cluster/search?query=Hydrolase&amp;criteria=type">Hydrolase</a></small><span><small> | </small></span><small><a href="/cluster/search?query=Mus+musculus&amp;criteria=source">Mus
          musculus</a></small></div>
      <% end %>
      <div class="sample-gifs">
        <%= link_to(
                image_tag('tertiary_deformation.gif', alt: 'tertiary deformation clusters'),
                advanced_search_path(cluster_group: 'Tertiary Deformations'))
        %>
        <%= link_to(
                image_tag('mixed_motion.gif', alt: 'mixed motion clusters'),
                advanced_search_path(cluster_group: 'Mixed Motions'))
        %>
        <%= link_to(
                image_tag('rigid_body.gif', alt: 'rigid body clusters'),
                advanced_search_path(cluster_group: 'Rigid Body'))
        %>
      </div>
    </div>
  </div>
</div>
