<div class="panel">
  <div class="panel-block has-text-weight-bold">
    <%= link_to("PDB: #{result.pdb_id}", conformers_show_path(result.pdb_id)) %>
  </div>
  <div class="panel-block">Description: <%= result.description %></div>
  <div class="panel-block">Biological Assembly: <%= result.biological_assembly %></div>
  <div class="panel-block">Resolution: <%= result.resolution %></div>
  <div class="panel-block">Length: <%= result.length %></div>
  <div class="panel-block">Name: <%= result.name %></div>
  <div class="panel-block">Organism: <%= result.organism %></div>
  <div class="panel-block">pH: <%= result.ph %></div>
  <div class="panel-block">Temperature: <%= result.temperature %></div>
</div>
