<p class="menu-label">
  Conformer properties<small class="question-color" title="Optional extra fields.
Exact match (including uppercase letters).
"> <%= fa_icon 'question-circle' %></small>
</p>
<ul class="menu-list">
  <%= render partial: 'search_field', locals: { key: :conformer_desc, label: 'Description' } %>
  <%= render partial: 'search_field', locals: { key: :conformer_ba, label: 'Biological assembly' } %>
  <%= render partial: 'search_field', locals: { key: :conformer_res, label: 'Resolution' } %>
  <%= render partial: 'search_field', locals: { key: :conformer_len, label: 'Length' } %>
  <%= render partial: 'search_field', locals: { key: :conformer_name, label: 'Name' } %>
  <%= render partial: 'search_field', locals: { key: :conformer_org, label: 'Organism' } %>
  <%= render partial: 'search_field', locals: { key: :conformer_ph, label: 'pH' } %>
  <%= render partial: 'search_field', locals: { key: :conformer_temp, label: 'Temperature' } %>
</ul>