<div class="panel">
  <p class="panel-heading has-text-weight-bold">Cluster information</p>

  <div class="panel-block">
    <p class="has-text-weight-semibold has-padding-r-7">Cluster ID</p>
    <p><%= @cluster.codnasq_id %></p>
  </div>

  <div class="panel-block">
    <p class="has-text-weight-semibold has-padding-r-7">Group</p>
    <p><%= @cluster.group %></p>
  </div>

  <div class="panel-block">
    <p class="has-text-weight-semibold has-padding-r-7">Oligomeric State</p>
    <p><%= @cluster.oligomeric_state %></p>
  </div>

  <div class="panel-block">
    <p class="has-text-weight-semibold has-padding-r-7">Conformers</p>
    <p><%= @cluster.conformers_amount %></p>

  </div>
  <div class="panel-block">
    <p class="has-text-weight-semibold has-padding-r-7">Max RMSD Quaternary</p>
    <p>N/A</p>
  </div>

  <div class="panel-block">
    <p class="has-text-weight-semibold has-padding-r-7">Max RMSD Tertiary</p>
    <p><%= @cluster.max_rmsd_tertiary %></p>
  </div>

  <div class="panel-block">
    <p class="has-text-weight-semibold has-padding-r-7">Resolution:</p>
    <p>N/A</p>
  </div>
</div>