<script src="https://d3js.org/d3.v4.js"></script>


<div class="column" style="padding-right: 4rem; padding-left: 4rem">
  <script src="//unpkg.com/ngl@0.10.4/dist/ngl.js"></script>
  <script>
      // const loader = document.querySelector('#loader')

      document.addEventListener("DOMContentLoaded", function () {
          loader.style.display = 'block'
          var stage = new NGL.Stage("viewport");
          stage.setParameters({backgroundColor: "white"});
          stage
              .loadFile("<%= pdb_show_url(query.pdb_id) %>", {ext: "pdb"})
              .then(function (structureComponent) {
                  structureComponent.addRepresentation("cartoon", {color: 'red'});
                  structureComponent.autoView();
                  loader.style.display = 'none'

              });
          stage
              .loadFile("<%= pdb_show_url(target.pdb_id) %>", {ext: "pdb"})
              .then(function (structureComponent) {
                  // loader.style.display = 'block'
                  structureComponent.addRepresentation("cartoon", {color: 'green'});
                  structureComponent.autoView();
                  loader.style.display = 'none'

              });

      });
  </script>

  <!--Cluster information-->
  <div class="panel">
    <p class="panel-heading has-text-weight-bold">Cluster information</p>
    <div class="columns">
      <div class="column">
        <div>
          <%= render 'panel_block', title: 'Cluster ID', content: cluster.codnasq_id %>
          <%= render 'panel_block', title: 'Group', content: cluster.cluster_group %>
          <%= render 'panel_block', title: 'Oligomeric State', content: rename_olig_state(cluster.oligomeric_state) %>
          <%= render 'panel_block', title: 'Conformers', content: cluster.conformers_amount %>
          <%= render 'panel_block', title: 'Max RMSD Quaternary', content: "#{max_pair.rmsd} Å (#{ query.pdb_id}, #{target.pdb_id})" %>
          <%= render 'panel_block', title: 'Max RMSD Tertiary', content: "#{cluster.max_rmsd_tertiary} Å (#{max_pair.max_rmsd_tert_q}, #{max_pair.max_rmsd_tert_t})" %>
        </div>
      </div>
      <div class="column">
        <div>
          <%= render 'panel_block', title: 'Name', content: query.name %>
          <%= render 'panel_block', title: 'Length', content: query.length %>
          <%= render 'panel_block', title: 'Organism', content: query.organism %>
          <%= render 'panel_block', title: 'Description', content: query.description %>
          <%= render 'panel_block', title: 'Genes', content: query.gene_names %>
        </div>
      </div>
      <div class="column">
        <p class="has-text-centered">maxRMSD distribution</p>
        <div id="my_dataviz"></div>
        <!-- Create a div where the graph will take place -->
        <script>

            // set the dimensions and margins of the graph
            var margin = {top: 10, right: 30, bottom: 40, left: 60},
                width = 600 - margin.left - margin.right,
                height = 230 - margin.top - margin.bottom;

            // append the svg object to the body of the page
            var svg = d3.select("#my_dataviz")
                .append("svg")
                .attr("width", width + margin.left + margin.right)
                .attr("height", height + margin.top + margin.bottom)
                .append("g")
                .attr("transform",
                    "translate(" + margin.left + "," + margin.top + ")");

            // Add X axis
            var x = d3.scaleLinear()
                .domain([0, 8.15])
                .range([0, width]);
            svg.append("g")
                .attr("transform", "translate(0," + height + ")")
                .call(d3.axisBottom(x));

            // Add Y axis
            var y = d3.scaleLinear()
                .domain([0, 2.7])
                .range([height, 0]);
            svg.append("g")
                .call(d3.axisLeft(y).tickValues([0, 1, 2]));

            // Label Y
            svg.append("text")
                .attr("text-anchor", "end")
                .attr("transform", "rotate(-90)")
                .attr("y", -margin.left + 20)
                .attr("x", -margin.top - height / 2 + 90)
                .text("maxRMSD Tertiary (Å)")
            // Label X
            svg.append("text")
                .attr("text-anchor", "end")
                .attr("x", width / 2 + margin.left + 20)
                .attr("y", height + margin.top + 25)
                .text("maxRMSD Quaternary (Å)");

            // Load maximos
            var xPosRMSDQuat =
            <%= max_pair.rmsd %>
            var yPosRMSDTert =
            <%= cluster.max_rmsd_tertiary  %>

            // Tooltip
            var tooltip = d3.select("#my_dataviz")
                .append("div")
                .style("opacity", 0)
                .attr("class", "tooltip")
                .attr('style', 'position: absolute; opacity: 0;')
                .style("background-color", "white")
                .style("border", "solid")
                .style("border-width", "1px")
                .style("border-radius", "5px")
                .style("padding", "10px")

            // Tooltip functions
            var mouseover = function (d) {
                tooltip
                    .style("opacity", 1)
            }

            var mousemove = function (d) {
                tooltip
                    .html(`maxRMSD-Q: ${xPosRMSDQuat} Å <br> maxRMSD-T: ${yPosRMSDTert} Å `)
                    .style('left', (d3.event.pageX + 30) + 'px')
                    .style('top', (d3.event.pageY + 30) + 'px')
            }

            // A function that change this tooltip when the leaves a point: just need to set opacity to 0 again
            var mouseleave = function (d) {
                tooltip
                    .transition()
                    .duration(200)
                    .style("opacity", 0)
            }

            //Read the data
            d3.csv("https://raw.githubusercontent.com/Nahuele/codnasq/master/app/assets/d3_sin_no_data.csv", function (data) {
                // Color scale: give me a specie name, I return a color
                var color = d3.scaleOrdinal()
                    .domain(["MM", "TD", "RB"])
                    .range(["#9EF35B", "#F35B5B", "#5B89FC"])
                // Add dots
                svg.append('g')
                    .selectAll("dot")
                    .data(data)
                    .enter()
                    .append("circle")
                    .attr("cx", function (d) {
                        return x(d.RMSD);
                    })
                    .attr("cy", function (d) {
                        return y(d.maxRMSDT);
                    })
                    .attr("r", 5)
                    .style("fill", function (d) {
                        return color(d.Group)
                    })
                    .style("opacity", 0.1)


                svg.append('g')
                    .selectAll("dot")
                    .data(data)
                    .enter()
                    .append("circle")
                    .attr("cx", x(xPosRMSDQuat))
                    .attr("cy", y(yPosRMSDTert))
                    .attr("r", 10)
                    .style("fill", "gray")
                    .on("mouseover", mouseover)
                    .on("mousemove", mousemove)
                    .on("mouseleave", mouseleave)
            })
        </script>
      </div>
    </div>
  </div>

  <!--Max Comparison-->
  <div class="panel">
    <p class="panel-heading has-text-weight-bold">Maximum RMSD Quaternary pair Comparison</p>
    <div class="columns" style="padding: 1rem">
      <div class="column">
        <table class="table is-fullwidth">
          <thead>
<!--          <tr>-->
<!--            <th></th>-->
<!--            <th><p class="has-text-centered">Comparison</p></th>-->
<!--            <th><p class="has-text-centered"><%#= query.pdb_id %> (query)</p>-->
<!--            </th>-->
<!--            <th><p class="has-text-centered"><%#= target.pdb_id %> (target)</p>-->
<!--            </th>-->
<!--          </tr>-->
          <tr>
            <th></th>
            <th><p class="has-text-weight-normal has-text-centered is-italic">Sequence Identity</p></th>
            <th><p class="has-text-weight-normal has-text-centered is-italic">RMSD</th>
            <th><p class="has-text-weight-normal has-text-centered is-italic">Structural similarity</p></th>
            <th><p class="has-text-weight-normal has-text-centered is-italic">Coverage</p></th>
            <th><p class="has-text-weight-normal has-text-centered is-italic">Structurally equivalent residue pairs</p></th>
            <th><p class="has-text-weight-normal has-text-centered is-italic">Cover based on alignment length</p></th>
            <th><p class="has-text-weight-normal has-text-centered is-italic">Typical distance error</p></th>
            <th><p class="has-text-weight-normal has-text-centered is-italic">Biological Assembly</p></th>
            <th><p class="has-text-weight-normal has-text-centered is-italic">pH</p></th>
            <th><p class="has-text-weight-normal has-text-centered is-italic">Length</p></th>
            <th><p class="has-text-weight-normal has-text-centered is-italic">Resolution</p></th>
            <th><p class="has-text-weight-normal has-text-centered is-italic">Temperature</p></th>
            <th><p class="has-text-weight-normal has-text-centered is-italic">Ligands</p></th>
          </tr>
          </thead>
          <tbody>

          <tr>
            <td><p class="has-text-weight-bold"><%= query.pdb_id %> (query)</p></td>
            <td></td>
            <td></td>
            <td></td>
            <td><p class="has-text-centered"><%= max_pair.query_cover %></p></td>
            <td></td>
            <td><p class="has-text-centered"><%= max_pair.query_cover_based_on_alignment_length %></p></td>
            <td></td>
            <td><p class="has-text-centered"><%= query.biological_assembly %></p></td>
            <td><p class="has-text-centered"><%= query.ph %></p></td>
            <td><p class="has-text-centered"><%= query.length %></p></td>
            <td><p class="has-text-centered"><%= query.resolution %></p></td>
            <td><p class="has-text-centered"><%= query.temperature %></p></td>
            <td><p class="has-text-centered"><%= rename_ligands(query.ligands) %></p></td>
          </tr>
          <tr>
            <td><p class="has-text-weight-bold"><%= target.pdb_id %> (target)</p></td>
            <td></td>
            <td></td>
            <td></td>
            <td><p class="has-text-centered"><%= max_pair.target_cover %></p></td>
            <td></td>
            <td><p class="has-text-centered"><%= max_pair.target_cover_based_on_alignment_length %></p></td>
            <td></td>
            <td><p class="has-text-centered"><%= target.biological_assembly %></p></td>
            <td><p class="has-text-centered"><%= target.ph %></p></td>
            <td><p class="has-text-centered"><%= target.length %></p></td>
            <td><p class="has-text-centered"><%= target.resolution %></p></td>
            <td><p class="has-text-centered"><%= target.temperature %></p></td>
            <td><p class="has-text-centered"><%= rename_ligands(target.ligands) %></p></td>
          </tr>
          <tr>
            <td><p class="has-text-weight-bold">Comparison</p></td>
            <td><p class="has-text-centered"><%= max_pair.sequence_identity %></p></td>
            <td><p class="has-text-left has-text-weight-bold" style="white-space: nowrap;"><%= max_pair.rmsd %> Å</p></td>
            <td><p class="has-text-centered"><%= max_pair.structural_similarity %></p></td>
            <td></td>
            <td><p class="has-text-centered"><%= max_pair.structurally_equivalent_residue_pairs %></p></td>
            <td></td>
            <td><p class="has-text-centered"><%= max_pair.typical_distance_error %></p></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>

          </tr>



<!--          <tr>-->
<!--            <td>Sequence Identity</td>-->
<!--            <td><p class="has-text-centered"><%#= max_pair.sequence_identity %></p></td>-->
<!--            <td></td>-->
<!--            <td></td>-->
<!--          </tr>-->
<!--          <tr>-->
<!--            <td>RMSD</td>-->
<!--            <td><p class="has-text-centered has-text-weight-bold	"><%#= max_pair.rmsd %> Å</p></td>-->
<!--            <td></td>-->
<!--            <td></td>-->
<!--          </tr>-->
<!--          <tr>-->
<!--            <td>Structural similarity</td>-->
<!--            <td><p class="has-text-centered"><%#= max_pair.structural_similarity %></p></td>-->
<!--            <td></td>-->
<!--            <td></td>-->
<!--          </tr>-->
<!--          <tr>-->
<!--            <td>Coverage</td>-->
<!--            <td></td>-->
<!--            <td><p class="has-text-centered"><%#= max_pair.query_cover %></p></td>-->
<!--            <td><p class="has-text-centered"><%#= max_pair.target_cover %></p></td>-->
<!--          </tr>-->
<!--          <tr>-->
<!--            <td>Structurally equivalent residue pairs</td>-->
<!--            <td><p class="has-text-centered"><%#= max_pair.structurally_equivalent_residue_pairs %></p></td>-->
<!--            <td></td>-->
<!--            <td></td>-->
<!--          </tr>-->
<!--          <tr>-->
<!--            <td>Cover based on alignment length</td>-->
<!--            <td></td>-->
<!--            <td><p class="has-text-centered"><%#= max_pair.query_cover_based_on_alignment_length %></p></td>-->
<!--            <td><p class="has-text-centered"><%#= max_pair.target_cover_based_on_alignment_length %></p></td>-->
<!--          </tr>-->
<!--          <tr>-->
<!--            <td>Typical distance error</td>-->
<!--            <td><p class="has-text-centered"><%#= max_pair.typical_distance_error %></p></td>-->
<!--            <td></td>-->
<!--            <td></td>-->
<!--          </tr>-->
<!--          <tr>-->
<!--            <td>Biological Assembly</td>-->
<!--            <td></td>-->
<!--            <td><p class="has-text-centered"><%#= query.biological_assembly %></p></td>-->
<!--            <td><p class="has-text-centered"><%#= target.biological_assembly %></p></td>-->
<!--          </tr>-->
<!--          <tr>-->
<!--            <td>pH</td>-->
<!--            <td></td>-->
<!--            <td><p class="has-text-centered"><%#= query.ph %></p></td>-->
<!--            <td><p class="has-text-centered"><%#= target.ph %></p></td>-->
<!--          </tr>-->
<!--          <tr>-->
<!--            <td>Length</td>-->
<!--            <td></td>-->
<!--            <td><p class="has-text-centered"><%#= query.length %></p></td>-->
<!--            <td><p class="has-text-centered"><%#= target.length %></p></td>-->
<!--          </tr>-->
<!--          <tr>-->
<!--            <td>Resolution</td>-->
<!--            <td></td>-->
<!--            <td><p class="has-text-centered"><%#= query.resolution %></p></td>-->
<!--            <td><p class="has-text-centered"><%#= target.resolution %></p></td>-->
<!--          </tr>-->
<!--          <tr>-->
<!--            <td>Temperature</td>-->
<!--            <td></td>-->
<!--            <td><p class="has-text-centered"><%#= query.temperature %></p></td>-->
<!--            <td><p class="has-text-centered"><%#= target.temperature %></p></td>-->
<!--          </tr>-->
<!--          <tr>-->
<!--            <td>Ligands</td>-->
<!--            <td></td>-->
<!--            <td><p class="has-text-centered"><%#= rename_ligands(query.ligands) %></p></td>-->
<!--            <td><p class="has-text-centered"><%#= rename_ligands(target.ligands) %></p></td>-->
<!--          </tr>-->
        </table>

        <div class="columns is-mobile">

          <div class="column" style="padding: 3rem;">
            <!--            spinner for the structures loading-->
            <p id="loader" class="animate-bottom" style="display: none; left: 50%; top: 20%;"></p>
            <div id="viewport" style="width:100%; height:400px;"></div>
            <p class="has-text-weight-light has-margin-top-down"><small>
              <span style="margin-right: 1rem">View coordinates files <%= fa_icon 'file' %></span>
              <a href="<%= pdb_show_url(query.pdb_id) %>" target="_blank" style="margin-right: 1rem"
              >query (<%= query.pdb_id %>)
              </a>
            <a href="<%= pdb_show_url(target.pdb_id) %>" target="_blank">
              target (<%= target.pdb_id %>)
            </a>
            </small>
            </p>
          </div>
            <div class="column">
              <figure class="image">
                <%= image_tag("http://ufq.unq.edu.ar/codnasq/assets/dendograms/#{cluster.codnasq_id}_dendogram_2020.png") %>
              </figure>
              <p class="has-text-weight-light has-margin-top-down">
                <small><a href="<%= "http://ufq.unq.edu.ar/codnasq/assets/dendograms/#{cluster.codnasq_id}_dendogram_2020.png" %>" target="_blank">
                  View full size dendrogram
                  <%= fa_icon 'image' %>
                </a></small>
              </p>
            </div>

        </div>
      </div>
    </div>
  </div>

  <div class="panel">
    <p class="panel-heading has-text-weight-bold">Conformers</p>
    <table class="table is-bordered is-striped is-hoverable is-fullwidth">
      <tr>
        <th>PDB</th>
        <th>Biological Assembly</th>
        <th>Resolution</th>
        <th>Length</th>
        <th>Name</th>
        <th>Organism</th>
      </tr>
      <% conformers.each do |conformer| %>
        <tr>
          <td><%= link_to(conformer.pdb_id, conformers_show_path(conformer.pdb_id)) %></td>
          <td><%= conformer.biological_assembly %></td>
          <td><%= conformer.resolution %></td>
          <td><%= conformer.length %></td>
          <td><%= conformer.name %></td>
          <td><%= conformer.organism %></td>
        </tr>
      <% end %>
    </table>
  </div>
</div>

<script>
    // prevent scrolling in NGL div
    let element = document.getElementById("viewport");
    element.onmouseenter = function () {
        const x = window.scrollX;
        const y = window.scrollY;
        element.addEventListener('DOMMouseScroll', wheel, false);
    }

    function wheel(event) {
        event.preventDefault();
        event.returnValue = false;
    }

    element.onmousewheel = document.onmousewheel = wheel;

</script>