<script src="https://d3js.org/d3.v4.js"></script>


<!-- Create a div where the graph will take place -->

<div class="column">
  <script src="//unpkg.com/ngl@0.10.4/dist/ngl.js"></script>
  <script>
      document.addEventListener("DOMContentLoaded", function () {
          var stage = new NGL.Stage("viewport");
          stage
              .loadFile(<%= "`http://ufq.unq.edu.ar/codnasq/topmatch/pdb/#{query.pdb_id}.pdb`" %>)
              .then(function (structureComponent) {
                  structureComponent.addRepresentation("cartoon", {color: 'red'});
                  structureComponent.autoView();
              });

          stage
              .loadFile(<%= "`http://ufq.unq.edu.ar/codnasq/topmatch/pdb/#{target.pdb_id}.pdb`" %>)
              .then(function (structureComponent) {
                  structureComponent.addRepresentation("cartoon", {color: 'green'});
                  structureComponent.autoView();
              });
      });
  </script>


  <div class="panel">
    <p class="panel-heading has-text-weight-bold">Cluster information</p>
    <div class="columns">

      <div class="column">
        <div>
          <%= render 'panel_block', title: 'Cluster ID', content: cluster.codnasq_id %>
          <%= render 'panel_block', title: 'Group', content: cluster.cluster_group %>
          <%= render 'panel_block', title: 'Oligomeric State', content: cluster.oligomeric_state %>
          <%= render 'panel_block', title: 'Conformers', content: cluster.conformers_amount %>
          <%= render 'panel_block', title: 'Max RMSD Quaternary (Å)', content: max_pair.rmsd %>
          <%= render 'panel_block', title: 'Max RMSD Tertiary (Å)', content: cluster.max_rmsd_tertiary %>
        </div>
      </div>
      <div class="column">
        <div>
          <%= render 'panel_block', title: 'Name', content: query.name %>
          <%= render 'panel_block', title: 'Length', content: query.length %>
          <%= render 'panel_block', title: 'Organism', content: query.organism %>
          <%= render 'panel_block', title: 'Description', content: query.description %>
          <%= render 'panel_block', title: 'Genes', content: query.gene_names %>
          <%= render 'panel_block', title: 'Maximum Tertiary Pair', content: "(#{query.pdb_id}, #{target.pdb_id})" %>
        </div>
      </div>
      <div class="column">
        <p class="has-text-centered">RMSD distribution</p>
        <div id="my_dataviz"></div>
        <!-- Create a div where the graph will take place -->
        <script>

            // set the dimensions and margins of the graph
            var margin = {top: 10, right: 30, bottom: 30, left: 60},
                width = 800 - margin.left - margin.right,
                height = 400 - margin.top - margin.bottom;

            // append the svg object to the body of the page
            var svg = d3.select("#my_dataviz")
                .append("svg")
                .attr("width", width + margin.left + margin.right)
                .attr("height", height + margin.top + margin.bottom)
                .append("g")
                .attr("transform",
                    "translate(" + margin.left + "," + margin.top + ")");

            // Add X axis
            var x = d3.scaleLinear()
                .domain([0, 8.15])
                .range([ 0, width ]);
            svg.append("g")
                .attr("transform", "translate(0," + height + ")")
                .call(d3.axisBottom(x));

            // Add Y axis
            var y = d3.scaleLinear()
                .domain([0, 3])
                .range([ height, 0]);
            svg.append("g")
                .call(d3.axisLeft(y));

            // Load maximos
            var xPosRMSDQuat = <%= max_pair.rmsd %>
            var yPosRMSDTert = <%= cluster.max_rmsd_tertiary  %>

                // Tooltip
            var tooltip = d3.select("#my_dataviz")
                .append("div")
                .style("opacity", 0)
                .attr("class", "tooltip")
                .style("background-color", "white")
                .style("border", "solid")
                .style("border-width", "1px")
                .style("border-radius", "5px")
                .style("padding", "10px")

            // Tooltip functions
            var mouseover = function(d) {
                tooltip
                    .style("opacity", 1)
            }

            var mousemove = function(d) {
                tooltip
                    .html(`maxRMSD Q: ${xPosRMSDQuat} Å <br> maxRMSD T: ${yPosRMSDTert} Å `)
                    .style("left", (d3.mouse(this)[0]+90) + "px") // It is important to put the +90: other wise the tooltip is exactly where the point is an it creates a weird effect
                    .style("top", (d3.mouse(this)[1]) + "px")
            }

            // A function that change this tooltip when the leaves a point: just need to set opacity to 0 again
            var mouseleave = function(d) {
                tooltip
                    .transition()
                    .duration(200)
                    .style("opacity", 0)
            }

            //Read the data
            d3.csv("https://raw.githubusercontent.com/Nahuele/planets-1/master/d3_sin_no_data.csv", function(data) {
                // Color scale: give me a specie name, I return a color
                var color = d3.scaleOrdinal()
                    .domain(["MM", "TD", "RB" ])
                    .range([ "#9EF35B", "#F35B5B", "#5B89FC"])
                // Add dots
                svg.append('g')
                    .selectAll("dot")
                    .data(data)
                    .enter()
                    .append("circle")
                    .attr("cx", function (d) { return x(d.RMSD); } )
                    .attr("cy", function (d) { return y(d.maxRMSDT); } )
                    .attr("r", 5)
                    .style("fill", function (d) { return color(d.Group) } )
                    .style("opacity", 0.1)


                svg.append('g')
                    .selectAll("dot")
                    .data(data)
                    .enter()
                    .append("circle")
                    .attr("cx", x(xPosRMSDQuat) )
                    .attr("cy", y(yPosRMSDTert) )
                    .attr("r", 10)
                    .style("fill", "gray" )
                    .on("mouseover", mouseover)
                    .on("mousemove", mousemove)
                    .on("mouseleave", mouseleave)

                    })




        </script>
      </div>


    </div>

  </div>


  <div class="panel">
    <p class="panel-heading has-text-weight-bold">Maximum RMSD pair Comparison</p>
    <div class="columns">
      <div class="column">

        <div class="columns is-mobile">
          <div class="column">
            <div id="viewport" style="width:100%; height:400px;"></div>
          </div>

          <div class="column">

            <div>
              <p class="has-text-weight-bold has-text-centered">Stats</p>
              <%= render 'panel_block', title: 'PDB query', content: query.pdb_id %>
              <%= render 'panel_block', title: 'PDB target', content: target.pdb_id %>
              <%= render 'panel_block', title: 'Sequence Identity', content: max_pair.sequence_identity %>
              <%= render 'panel_block', title: 'RMSD', content: max_pair.rmsd %>
              <%= render 'panel_block', title: 'Structural similarity', content: max_pair.structural_similarity %>
              <%= render 'panel_block', title: 'Coverage (on pdb query)', content: max_pair.query_cover %>
              <%= render 'panel_block', title: 'Coverage (on pdb target)', content: max_pair.target_cover %>
              <%= render 'panel_block', title: 'Structurally equivalent residue pairs', content: max_pair.structurally_equivalent_residue_pairs %>
              <%= render 'panel_block', title: 'Cover based on alignment length (query)', content: max_pair.query_cover_based_on_alignment_length %>
              <%= render 'panel_block', title: 'Cover based on alignment length (target)', content: max_pair.target_cover_based_on_alignment_length %>
              <%= render 'panel_block', title: 'Typical distance error', content: max_pair.typical_distance_error %>
              <%= render 'panel_block', title: 'Biological Assembly (query)', content: query.biological_assembly %>
              <%= render 'panel_block', title: 'Biological Assembly (target)', content: target.biological_assembly %>
              <%= render 'panel_block', title: 'Max RMSD Tertiary', content: cluster.max_rmsd_tertiary %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="panel">
    <p class="panel-heading has-text-weight-bold">Conformers</p>
    <table class="table is-bordered is-striped is-hoverable is-fullwidth">
      <tr>
        <th>PDB</th>
        <th>Biological Assembly</th>
        <th>Resolution</th>
        <th>Length</th>
        <th>Name</th>
        <th>Organism</th>
      </tr>
      <% conformers.each do |conformer| %>
        <tr>
          <td><%= link_to(conformer.pdb_id, conformers_show_path(conformer.pdb_id)) %></td>
          <td><%= conformer.biological_assembly %></td>
          <td><%= conformer.resolution %></td>
          <td><%= conformer.length %></td>
          <td><%= conformer.name %></td>
          <td><%= conformer.organism %></td>
        </tr>
      <% end %>
    </table>
  </div>
</div>