<nav class="navbar is-info has-shadow has-margin-b-5" role="navigation" aria-label="main navigation">
  <div class="navbar-brand has-text-weight-bold">
    <a href="/" class="navbar-item">
      <%= image_tag('logo.png', alt: "codnas q logo") %>
    </a>
    <a href="#" class="navbar-burger burger" data-target="navbarButtons"></a>
  </div>
  <div id="navbarButtons" class="navbar-menu">
    <div class="navbar-end">
      <div class="navbar-item">
        <%= fa_icon 'search' %>
        <%= link_to('Advanced Search', :advanced_search, class: 'navbar-item') %>
      </div>
      <div class="navbar-item">
        <a href="/download" class="navbar-item">
          <%= fa_icon 'download' %>
          Download
        </a>
      </div>
      <div class="navbar-item">
        <a href="/statistics" class="navbar-item">
          <%= fa_icon 'line-chart' %>
          Statistics
        </a>
      </div>
      <div class="navbar-item">
        <a href="/about" class="navbar-item">
          <%= fa_icon 'info' %>
          About
        </a>
      </div>
      <div class="navbar-item">
        <a href="/tutorial" class="navbar-item">
          <%= fa_icon 'book' %>
          Tutorial</a>
      </div>
      <div class="navbar-item">
        <a href="/contact" class="navbar-item">
          <%= fa_icon 'address-card' %>
          Contact us</a>
      </div>
    </div>
  </div>
</nav>
